services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jucr_app_service
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis
    env_file:
      - .env

  mongo:
    image: mongo:latest
    container_name: jucr_mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: jucr_redis_db
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  mongo-data:
  redis-data: